table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f3f3f3;
}

th {
  background-color: #7112e9;
  color: white;
}

.dashboard-wrap{
  margin: 3rem auto;
  width: 80%;
}