.center{
  justify-content: center;
}

.signup-wrap {
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.form-wrap {
  margin: 2rem auto;
  padding: 1rem 2rem;
  width: 35%;
}
.signup-wrap .btn-secondary{
  margin: 1rem .2rem;
}

.profile-form-content-wrap{
  display: flex;
  flex-wrap: wrap;
}

.input-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  
}
.signup-wrap .input-set {
  width: 47%;
}

.signup-wrap .input-set:nth-child(odd) {
  margin-right: 5%;
}

.form-wrap h1 {
  margin-bottom: 1.8rem;
}
textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  background: #edeff0;
  border-radius: 4px;
  border: 1px solid #cdd2d4;
  box-sizing: border-box;
  padding: .5em;
  width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  font-size: 1.7rem;
}

label {
  font-size: 1.45rem;
}

.right {
  align-self: flex-end;
}

@media all and (max-width: 650px) {
  .signup-wrap, .form-wrap {
    width: 90%;
  }
}