.profile-body{
  display: flex;
  flex-direction: column;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  padding: .6rem 1.2rem;
}

.profile-secondary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
}

.profile-img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  justify-items: sp;
}

.schedule-btn {
  margin-top: 1rem;
}


.profile-primary {
  width: 46%;
  padding: 0 1rem;
  /*! flex: 1 0 46%; */
}

.profile-detail-title {
  font-size: 2rem;
  color: #c2c2c2;
  padding-right: 2rem;
  width: 23%;
  display: inline-block;
  line-height: 1.8rem;
}

.profile-detail-content{
  font-size: 2.3rem;
}

.profile-stats {
  background-color: #fff;
  margin: .6rem auto;
  padding: 1.2rem 1.3rem;
  width: 75%;
  border-radius: 10px;
}
.profile-stats .stats{
  display: flex;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.stats:last-child{
  border-bottom: none;
}
.stats-text{
  width:30%;
}
.stats-number{
  font-size: 3rem;
  font-style: italic;
  padding-left: 5rem;
}

.change-password{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.list-content {
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
    max-height: 10rem;
    display: flex;
    padding: 1rem 1rem; 
    background-color: #fbfbfb;
}

.list-content:hover {
  background-color: rgb(255, 245, 203);
} 

.list-content .meetup-title{
  font-size: 1.3rem;
  color: #999;
  font-style: italic;
}

.list-text p {
  padding: 0;
  margin: .8rem 0;
  font-size: 1.6rem;
}

.question-footer{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #aaa;
  height: 18px;
}

.footer-actions{
  display: flex;
  padding-left: 1rem;
}
.footer-actions a{
  color: #bbb
}

.footer-actions a:hover, .footer-actions a:active {
  color: #999;
}

.footer-actions__upvote-count {
  color: #91DC5A;
}

.footer-actions__downvote-count{
  color: #E0245E;
}
.align-vote-icon {
  position: relative;
}

.vote-icon {
  margin: 0;
  cursor: pointer;
  overflow: visible;
  display: inline-block;
  position: relative;
  background: transparent;
  border: 0;
  transition: .1s background-color, .1s border-color, .1s color, .1s fill;
}

.footer-actions__upvote-count {
  color: #91DC5A;
}

.footer-actions__downvote-count{
  color: #E0245E;
}

.inactive{
  color:#c1c1c1;
}

@media all and (max-width: 1000px) {
  .profile-details{
    flex-direction: column;
  }
}