/*=== generic ===*/

@font-face {
  font-family: 'radnika_next';
  src: url('./static/radnikanext-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Secular One';
  src: url('./static/secular-one-v2-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Meera Inimai';
  src: url('./static/meera-inimai-v3-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Meera Inimai';
}

a {
  color: #FF2300;
}

a:hover {
  color: #E21500;
}

/*Button Generic Styling*/

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms cubic-bezier(.79, .14, .15, .86), transform 150ms ease;
  font-family: 'radnika_next';
  border-radius: .3rem;
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}

.btn-primary {
  background: #FFCE00;
  color: rgb(14, 14, 14);
  padding: 1rem 2rem;
  margin: 0;
}

.btn-primary:hover, .btn-primary:focus {
  background: #FFE05E;
}

.btn-secondary {
  background: #7112e9;
  color: #ffffff;
  padding: 1rem 2rem;
  margin: 0;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary--small:hover, .btn-secondary--small:focus {
  background: #FFE05E;
}

.btn-secondary--small {
  background: #7112e9;
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  margin: 0;
  font-size: 12px'';
}

.btn-outline-primary {
  border: .2rem solid #FFD72D;
  background-color: transparent;
  padding: .4rem 1rem;
  font-size: 1.2rem;
  color: white;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background: #FF745E;
}

h1, h2, h3, h4, h5 {
  font-family: 'Secular One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FF2300;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.1rem;
  font-weight: bold;
  margin: .2rem;
}

h2 {
  font-size: 2.5rem;
  padding: 1.8rem 1rem;
}

h3 {
  font-size: 2.0rem;
  padding: 1rem 0.7rem;
}

h4 {
  font-size: 1.5rem;
  padding: 0.7em 0.5em;
}

h5 {
  font-size: 1.2rem;
  padding: 0.7em 0.4em;
}

/*Wrap round body*/

.wrapper>header {
  flex: 1 0 0;
}

.wrapper>main {
  flex: 2 0 auto;
  display: flex;
  width: 100%;
  min-height: 75vh;
  margin: 0 auto;
  flex-flow: column wrap;
  align-items: stretch;
  background-color: #fff;
}

.article {
  letter-spacing: .1px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.invisible {
  display: none;
}

/*=== Header ===*/

header {
  background: #ff2603;
  padding: 1rem 1rem;
  max-height: 16vh;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: .7rem 1.6rem;
  flex-wrap: wrap;
}

.logo img {
  width: 21rem;
  height: 7rem;
}

.header-avatar {
  width: 4.5rem;
  height: 4.5rem;
  display: inline-block;
  position: relative;
}

.header-avatar img {
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-position: 50%;
  width: 100%;
  height: 100%;
}

.card {
  border: 1px solid rgb(167, 165, 165);
  padding: .5em 2.9rem;
  /*! border-radius: 10px; */
  background: white;
  /*! box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/*=== Navigation Styling ===*/

nav {
  display: flex;
  align-items: center;
}

nav>ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0rem;
  padding-top: 2.2rem;
  list-style: none;
  border-radius: 2%;
}

nav li {
  display: inline-block;
  margin: 0 35px;
  padding-bottom: 25px;
  position: relative;
}

nav .btn-outline-primary:hover{
  color: white;
}

.header-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: .2rem;
  font-weight: bold;
}

.header-link:hover {
  color: rgba(245, 244, 244);
}



.header-link::after {
  content: '';
  display: block;
  height: .5rem;
  background-color: rgb(245, 244, 244);
  position: absolute;
  top: 3.5rem;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.header-link:hover::after {
  width: 100%;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

section#hero {
  background: white;
  /* background: linear-gradient(135deg, #FF4A2D 0, #FF2300 100%); */
  color: #FF2300;
  padding: 4em 2rem 0 2rem;
}

.layout-two-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2em;
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  padding-right: 4%;
  box-sizing: border-box;
  text-align: left;
  font-size: 2rem;
  max-width: 60%;
}

section img {
  max-width: 100%;
}

.profile-list-anchor {
  padding-bottom: 2rem;
}

/*=== Footer ===*/

footer {
  min-height: 9vh;
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  color: rgb(200, 200, 200);
  padding: 0;
  margin: 0;
  align-items: center;
}

footer .content {
  width: auto;
  display: flex;
  justify-content: center;
}

footer a {
  color: #FFE05E;
}

.copyright {
  padding-right: 1em;
}

@media all and (max-width: 800px) {
  header {
    max-height: 10%;
  }
  nav>ul {
    justify-content: space-around;
  }
  .container {
    justify-content: center;
  }
  .logo {
    flex: 1 100%;
    justify-content: center;
    display: flex;
  }
  .logo img {
    margin: auto;
  }
  .layout-two-col {
    max-width: 120rem;
    flex-flow: column wrap;
    align-items: center;
  }
  .hero-text {
    max-width: 100%;
  }
}